* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
// font-family: "Press Start 2P", system-ui;
$bgclr: skyblue;
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 27px;
}
@mixin basic {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 600;
    font-size: 1.2rem;
    color: black;
    text-transform: capitalize;
}

.cheque {
    height: 54vh;
    width: 72vw;
    background-color: $bgclr;
    padding: 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.3) 0px -3px 0px inset;
&:hover
{
    transition: all 2190ms;
    
    transform: translateY(18px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
    .topbar {
        height: 18%;
        width: 100%;
        @include basic();
        justify-content: space-between;
        background-color: rgba(190, 224, 237, 0.825);
        font-family: "Poppins", sans-serif;

        .bankdetails {
            height: 12%;
            width: 36%;
            padding: 9px;
            @include basic();
            gap: 18px;
            
            

            .logo {
                justify-content: flex-start;
                align-items: flex-start;

                @include basic();
                padding: 9px;
                border-radius: 50px;
                background-color:black;
                color: whitesmoke;
                font-weight: 900;
                
                border: 3px solid black;
                box-shadow: rgba(3, 113, 239, 0.512) 0px 0px 0px 3px;
            }
            .name {
                @include basic();
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                font-weight: 630;

                & span:nth-child(1)
                {
                    color: rgba(12, 26, 113, 0.995);
                    
                }
                & span:nth-child(2)
                {
                    font-size: 0.6rem;
                }
            }
        }
    }
    .date {
        padding: 9px;
        @include basic();
        gap: 3px;
        font-family: "Poppins", sans-serif;

        .df {
            padding: 3px 6px;
            border: 2px solid black;
        }
        .df span h6 {
            font-size: 0.9rem;
            transform: translateY(27px);
            font-weight: 459;
        }
    }
    .content {
        height: 64%;
        width: 100%;

        padding: 18px;
        position: relative;
        font-family: "Poppins", sans-serif;
        .valid {
            position: absolute;
            top: -5.4%;
            left: 37%;
            @include basic();
            font-size: 0.6rem;
            font-weight: 810;
        }
        .pay {
            position: absolute;
            height: 9%;
            width: 9%;
            top: 14.4%;
            left: 0%;

            @include basic();
            z-index: 1;
            background-color: $bgclr;
        }
        .orbearer {
            position: absolute;
            height: 9%;
            width: 12%;
            top: 14.4%;
            right: 1%;
            @include basic();
            z-index: 1;
            background-color: $bgclr;
        }
        .ruppes {
            position: absolute;
            height: 27%;
            width: 12%;
            top: 30.6%;
            left: 0%;
            @include basic();
            z-index: 1;
            align-items: start;

            background-color: $bgclr;
        }
        .amount {
            position: absolute;
            top: 32.2%;
            right: 0%;
            @include basic();
            height: 27.2%;
            width: 30.6%;
            padding: 9px 6px;
            background-color: $bgclr;
        }

        .amount .rs {
            height: 100%;
            width: 93%;
            @include basic();
            justify-content: flex-start;
            align-items: end;
            padding: 6px;
            background-color: $bgclr;
            border: 3px solid black;
        }

        .lines {
            height: 18.27%;
            width: 100%;
            border-bottom: 3px solid black;
        }
        .accountnumber {
            position: absolute;
            top: 61.2%;
            left: 5.4%;
            padding: 9px;
            @include basic();
            width: 31.5%;

            & > span {
                height: 100%;
                width: 100%;
                @include basic();
                justify-content: flex-start;
                padding: 3px;
                border: 3px solid black;
            }
        }
        .signature {
            height: 27%;
            width: 27%;
            position: absolute;
            top: 72.72%;
            left: 73.71%;

            @include basic();
            flex-direction: column;
            justify-content: end;
            & span:nth-child(1) {
                letter-spacing: 1px;
                font-weight: 720;
                font-size: 0.9rem;
            }
            & span:nth-child(2) {
                font-size: 0.6rem;
            }
        }
    }
    .bottombar {
        height: 18%;
        width: 100%;
        @include basic();
        gap: 21px;
        letter-spacing: 0.1.8rem;
        font-family: "Press Start 2P", system-ui;
        font-weight: 100;
        font-size: 0.81rem;
        background-color: rgba(190, 224, 237, 0.825);
    }
    
}
